<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio Agustin Mendoza</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <header class="header">
        <p class="header__name">Agustín Mendoza</p>
        <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item"><a class="header__nav-link" href="#projects">Proyectos</a></li>
            <li class="header__nav-item"><a class="header__nav-link" href="#contact">Contacto</a></li>
        </ul>
        </nav>
    </header>
 
  <main class="main">
 
    <section class="home">
        <div class="home__Presentation">
            <h1 class="home__jod">desarrollador de software</h1>
            <p class="home__description">Soy una persona tranquila, con gusto por el trabajo en equipo y me gusta desarrollar nuevas habilidades.</p>
        </div>
    </section>
 
    <section class="projects" id="projects">
        <div class="projects__section">
            <h2 class="projects__title">Proyectos</h2>
            <div class="projects__examples">
                <article class="projects__card">
                    <div class="projects__card-body">
                        <h3 class="projects__card-title">Gestion de Hospedaje en Hotel</h3>
                        <p class="projects__card-description">
                        Pagina web administrativa para el manejo de registros en hotel, utilizando herramientas como .Net y Angular
                        </p>
                        <a class="projects__card-link" href="https://github.com/agustinmend/1erBloqueTaller" target="_blank">
                        Ver proyecto
                        </a>
                    </div>
                </article>

                <article class="projects__card">
                    <div class="projects__card-body">
                        <h3 class="projects__card-title">Red social de empresas</h3>
                        <p class="projects__card-description">
                        Pagina de Visualizacion de contenido de empresas, desarrollada usando .Net y Angular
                        </p>
                        <a class="projects__card-link" href="https://github.com/agustinmend/PrograII-ProyectoFinal" target="_blank">
                        Ver proyecto
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </section>
 
    <section class="contact" id="contact">
        <h2 class="contact__title">Contacto</h2>
        <p class="contact__message">Desarrollemos un proyecto</p>
        <div class="contact__links">
            <a class="contact__link" href="jose.mendoza.u1@ucb.edu.bo">
                <span class="contact__link-label">Correo</span>
            </a>
            <a class="contact__link" href="https://github.com/agustinmend">
                <span class="contact__link-label">GitHub</span>
            </a>
        </div>
    </section>
 
  </main>
 
  <footer class="footer">
    <div class="footer__content">
      <p class="footer__text">Agustín Mendoza · ISW-233 · 2-2026</p>
    </div>
  </footer>
</body>
</html>